.container {
    .email,
    .user,
    .state,
    .region {
        .title {
            font-size: 22px;
            color: black;
        }
        .content {
            font-size: 18px;
            color: black;
        }
    }
    button {
        margin-top: 20px;
    }
}
